.card {
  background: #EDEEEE;
  width: 80vw;
  height: 20vh;
  display: flex;
}

.title-container {
  padding-left: 1em;
}

.response-title, .prompt-title {
  font-weight: bold;
}

.response, .prompt {
  padding: 0 5% 0 5%;
}