.enter-prompt {
  font-weight: bold;
  align-self:flex-start;
}

form {
  display: flex;
  flex-direction: column;
}

.prompt-input {
  width: 80vw;
  height: 400px;
}

.submit-button {
  height: 40px;
  border-radius: 2px;
  background: #0045C3;
  color: #FFFFFF;
  border: none;
  align-self: flex-end;
}