.App {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 200px;
  padding-right: 215px;
  text-align: left;
  background: #2B363A;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  color: white;
  height: 100vh;
}

.header {
  font-size: 50px;
  align-self: center;
}

.header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 3px 10px #1C858D;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'Anton', Arial, sans-serif;
  user-select: none;
  text-transform: uppercase;
  font-size: 75px;
}